.listItem {
  list-style-type: none;
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  margin: 20px;
  background-color: #475569;
  padding: 10px;
  align-items: center;
  color: white;
  width: 40vw;
  height: 20vh;
  text-decoration: none;
}
.list {
  display: flex;
  align-items: center;
  align-content: center;
}
.imageItem {
  height: 9vh;
  width: 7vw;
  margin: 5px;
}
.namehead {
  font-size: 26px;
  font-weight: 700;
  font-family: brieserif;
  width: 30vw;
  margin: 5px;
}
