.homecard {
  display: flex;
  justify-content: center;
}
.textdecor {
  text-decoration: none;
  text-align: center;
}
.containerbutton {
  display: flex;
  justify-content: center;
}
.buttonBack {
  border-radius: 6px;
  width: 6vw;
  flex-direction: column;
  display: flex;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  height: 6vh;
  outline: none;
  cursor: pointer;
}
.batLogo {
  height: 20vh;
  width: 10vw;
}
.iplhead {
  color: white;
  font-size: 45px;
}
.link {
  text-decoration: none;
}
.container {
  padding: 30px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
